body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: black;
	color: #ddd;
}
body.even {
	background-color: white;
	color: #333;
}
h1 {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	color: white;
	font-size: 200px;
	letter-spacing: -42px;
	line-height: 0.75em;
	margin-top: 200px;
	margin-bottom: 100px;
}
@media (max-width: 768px) {
	h1 {
		margin-top: 50px;
		margin-bottom: 25px;
	}
}
body.even h1 {
	color: black;
}
h2 {
	font-weight: 300;
	font-size: 20px;
}

a {
	color: white;
	text-decoration: underline;
	border: 1px solid transparent;
}
a:hover, a:active {
	background-color: white;
	text-decoration: none;
	border: 1px solid white;
}
body.even a {
	color: black;
	border: 1px solid transparent;
}
body.even a:hover, body.even a:active {
	color: white;
	background-color: black;
	border: 1px solid black;
}

.contact {
	margin-top: 20px;
}

footer {
	margin-top: 150px;
	margin-bottom: 50px;
	font-size: 0.8em;
	text-align: right;
}
footer span {
	margin-left: 1em;
}